*{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: #00b7ff;
    color: #FFF;
}
a{
    text-decoration: none;
}
ul{
    list-style: none !important;
}
/* Header Part */
.header-background{
    background-image: url(../img/bokeh_car_lights_bg_dark.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid #00b7ff;
}
.top-menu{
    display: flex;
    justify-content: center;
}
.ul-menu{
    display: flex;
}
.menu-wrapper{
    width: 94%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title a{
    color: aliceblue;
    transition: all .5s ease-in-out;
}
.logo-title a:hover{
    color: #00b7ff;
}
.menu-element{
    margin-left: 40px;
}
.menu-element:not(.sign-up){
    color: rgb(141, 141, 141);
    transition:all 0.5s ease-in-out;
}
.sign-up{
    background-color: #00b7ff;
    padding: 12px 22px;
    border-radius: 50px 50px 50px 50px;
    color: aliceblue;
    transition:all 0.5s ease-in-out;
}
.menu-element:not(.sign-up):hover{
    color: aliceblue;
}
.sign-up:hover{
    color: #00b7ff;
    background-color: aliceblue;
    transition: all .5s ease-out;
}
/* End of Header Part */
/* =============================== */
/* Main part */
.main-header{
    padding: 6em 0 4em 0;
    text-align: center;
}
.main-title{
    font-size: 3em;
    color: #252525;
}
.sub-title{
    font-size: 1.5em;
    color: #858585;
}
.main-image{
    width: 85%;
    margin: 0 auto;
}
.image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.main-text{
    width: 85%;
    margin: 2em auto;
    margin-bottom: 6em;
}
.par{
    text-align: justify;
    color: #444;
    font-size: large;
    margin-bottom: 2em;
}
/* End of Main Part */
/* =============================== */
/* Footer Part */
.footer-bg{
    background-color: #383b43;
}
.footer-container{
    width: 85%;
    margin: 0 auto;
}
.footer-header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #858585;
}
.col{
    padding: 6em 0 4em;
    width: 25%;
}
.list-title{
    font-size: 1.35em;
    color: #FFF;
}
.list-title{
    padding-bottom: 25px;
}
.col-1-li{
    padding-bottom: 10px;
    list-style: none;
}
.col-1-a{
    color: #cdced0;
    transition: all .8s ease-out;
}
.col-1-a:hover{
    color: #00b7ff;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 60px;
}
.footer-left{
    display: flex;
}
.footer-right{
    display: flex;
}
.footer-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding-left: 10px;
}
.footer-right a{
    border-radius: 100%;
}
.par{
color: #858585;
margin-right: 10px;
}
.copyright-content{
    color: #858585;
    transition: all .8s ease-out;
}
.copyright-content:hover{
    color: #FFF;
}
/* ====================================================== */
/* ====================================================== */